:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--verydarkblue);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    font-family: inherit;
}

p {
    line-height: 1.8;
}

.main-container,
.thank-you {
    background-color: var(--darkblue);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 400px;
}

.main-container img {
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
}

.main-container h1 {
    color: var(--white);
    margin: 2rem 0 1rem;
}

.main-container p {
    color: var(--lightgrey);
    margin-bottom: 1rem;
}

.main-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border: none;
    color: var(--mediumgrey);
    background-color: hsl(213, 20%, 22%);
    font-weight: 700;
    padding-top: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.main-container ul li button:hover {
    color: var(--white);
    background-color: var(--orange);
}

.main-container ul li button:focus {
    color: var(--white);
    background-color: var(--lightgrey);
}

.btn-submit {
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.4s;
}

.btn-submit:hover {
    background-color: var(--white);
    color: var(--orange)
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray {
    font-size: 0.9rem;
    background-color: hsl(213, 20%, 22%);
    color: var(--orange);
    border-radius: 30px;
    padding: 0.2rem 0.5rem 0;
    margin-bottom: 2rem;
}

.thank-you h2 {
    color: var(--white);
    margin-bottom: 1rem;
}

.thank-you p {
    color: var(--lightgrey);
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: var(--white);
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}